.dish {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dish button {
  margin: 0 5px;
  cursor: pointer;
}
.dish1 {
  display: flex;
  flex-direction: row;
}
.button {
  background-color: greenyellow;
  height: 20px;
  width: 100px;
  padding: 30px;
  border-radius: 50px;
}
.image {
  height: 100px;
  width: 100px;
}
.dish2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dishImage {
  display: flex;
  justify-content: flex-end;
}
